.notifications {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 20rem;
}

  .notifications__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

    .notifications__notification {
      & + & {
        margin-top: .75rem;
      }
    }
